.contact{
    display: block;
}
.menuButton{
    display: block;
}
.modal{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.258);
}
.inputField{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.contactRow{
    display: grid;
    grid-template-columns:  2fr 2fr  ;
}
.slno{
display:none;
}
.lname{
    display:none;
}
.status{
    display:none;
}

@media only screen and (min-width:400px) {
    .inputField{
        display: flex;
        flex-direction: row;
        gap: 3rem;

    }
}
@media only screen and (min-width:500px){
    .contact{
        display: grid;
        grid-template-columns: 1fr 3.5fr;
    }
    .menuButton{
        display: none;
    }
}
@media only screen and (min-width:600px){
    .contactRow{
        display: grid;
        grid-template-columns:  2fr   1.5fr 2.5fr;
    }
    .status{
        display:inline;
    }
}
@media only screen and (min-width:750px){
    .contactRow{
        display: grid;
        grid-template-columns:  2fr  2fr 1.5fr 2.5fr;
    }
    
    .lname{
        display:inline;
    }
   
}
@media only screen and (min-width:1000px){
    .contactRow{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1.5fr 2.5fr;
    }
    .slno{
    display:inline;
    }
    
    
}